<!doctype html>
<html lang="en">
<%- include ('includes/head.ejs') %>
<body>
<%- include ('includes/header.ejs') %>

<%if(user){%>
    <main>
        <h2 style="text-align: center">Dashboard</h2>


    </main>
<%}else {%>
    <main>
        <h2 style="text-align: center">Wellcome</h2>
        <h4 style="text-align: center">Join our Blog</h4>

    </main>
<%}%>


<%-include ('includes/footer.ejs')%>
</body>
</html>