<!doctype html>
<html lang="en">
<%- include ('includes/head.ejs') %>
<body>
<%- include ('includes/header.ejs') %>

<main>
<h2>Dobrodosli u najbolju blog aplikaciju</h2>

</main>

<%-include ('includes/head.ejs')%>
</body>
</html>